*seleccione el algoritmo
*algoritmo de colonia de hotmigas = ant_colony_algoritm
*algoritmo de colonia de hormigas justo = fair_ant_colony_algoritm
*algoritmo secuencial =ant_colony_algoritm
algoritmo=ant_colony_algoritm

*seleccione el tama–o del buffer del firewall
buffer=1024

*seleccione el tiempo que dura un ciclo del procesador del firewall (ms)
processingSpeed=200

*ingrese el nombre del archivo de reglas a aplicar (xlsx)
*formato
*fila de titulos
*source Address | source port | destination address | destination port
rules=rules.xlsx

*ingrese la lista de paquetes de ejemplo a utilizar
*formato
*fila de titulo
*source Address | source port | destination address | destination port|Action
packets=input_packets.xlsx

*numero de veces que se repetiran los paquetes de ejemplo
repeticiones=1

*1 para activar order de paquetes aleatorio, 0 para seguir orden predeterminado de llegada
aleatorio=0

*tiempo de espera maximo entre paquetes entrantes (ms)
maxTimeBetweenPackets=500