*seleccione el algoritmo
*algoritmo de colonia de hotmigas = ant_colony_algoritm
*algoritmo secuencial = secuencial_algoritm
algoritmo=secuencial_algoritm

*seleccione el tama–o del buffer del firewall
buffer=1024

*seleccione la velocidad del procesador del firewall (mhz)
processingSpeed=800

*ingrese el nombre del archivo de reglas a aplicar (xlsx)
*formato
*fila de titulos
*source Address | source port | destination address | destination port
rules=rules.xlsx

*ingrese la lista de paquetes de ejemplo a utilizar
*formato
*fila de titulo
*source Address | source port | destination address | destination port|Action
packets=input_packets.xlsx

*numero de veces que se repetiran los paquetes de ejemplo
repeticiones=10

*tiempo de espera maximo entre paquetes entrantes (ms)
maxTimeBetweenPackets=500